<!DOCTYPE html>
<html>
  <head>

  <style>
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table tbody {
      display:block;
      height: calc(100vh - 38em);
      min-height: 125px;
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.75em )
  }
  </style>

  </head>
  <body>

    <div class="container-fluid  row">


        <ul class="nav nav-pills nav-tabs " role="tablist">
          <li class="active nopadding" id="addproduct" role="presentation"><a data-toggle="pill" href="" >{% trans %}Create Product{% endtrans %}</a></li>
          {% if numberofproducts > 0 %}
            <li class="nopadding" id="editproduct" role="presentation"><a data-toggle="pill" href="">{% trans %}Edit Product{% endtrans %}</a></li>
          {% endif %}
        </ul>
        <div class='tab-content '>
          <div class="alert alert-success" id="addsuccess-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product saved successfully.{% endtrans %}
          </div>
          <div class="alert alert-success" id="editsuccess-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product edited successfully.{% endtrans %}
          </div>
          <div class="alert alert-success" id="deletesuccess-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product deleted successfully.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="duplicate-unit-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}This unit exists. Please select it from the list.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Duplicate product under same category.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Product description cannot be blank.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="os-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}<b>Opening Stock</b> is blank. Please enter <b>0.00</b> if you have no opening stock.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select a godown.{% endtrans %}
          </div>
          <div class="alert alert-warning" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select a different godown.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="uomblank-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Please select the unit of measurement.{% endtrans %}
          </div>
          <div class="alert alert-danger" id="tax-duplicate-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Duplicate Tax!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="no-godown-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}There are no more godowns!{% endtrans %}
          </div>
          <div class="alert alert-danger" id="failure-delete-alert"  aria-live="rude" role="alert" hidden>

            {% trans %}Cannot delete product!{% endtrans %}<br>
          </div>
          <div class="tab-pane active" role="tabpanel" id="productdiv">
          </div>
        </div>

    </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/producttab.js')}}"></script>
  </body>
</html>
